*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    background-image: url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    backdrop-filter: blur(50px);
}
header{
    padding: 30px;
    height: 90px;
    background-color: #3d3c00;
    position: fixed;
    top:0;
    width: 100%;
    z-index: 9;
}
header h1{
    width: 100px;
    height: 70px;
    background-image: url(../img/logo.png);
    background-repeat: no-repeat;
    background-size: 100%;
    text-indent: -99999px;
    float: left;
    margin-right: 500px;
}
header h1 a{
    display: block;
    width: 100px;
    height: 34px;
}
header nav{
    margin-top: 10px;
}
header li{
    float: left;
    margin-right: 20px;
}
header li a{
    padding: 5px 10px;
    color: #ffffff;
    text-transform: uppercase;
}
main{
    padding-top: 90px;
}
.kvadrati{
    width: 500px;
    height: 500px;
    background-color: #88007d;
    padding: 100px;
    margin: 50px auto;
    position: relative;
}
.meotxe{
    background-color: #ff7417;
    position: sticky;
    top:0;
    z-index: 3;
}
.kvadratuka{
    width: 300px;
    height: 300px;
    background-color: #00930f;
    padding: 100px;

}
.baby{
    width: 100px;
    height: 100px;
    /* background-color: #1d0093; */
    background-image: url(../img/love.png);
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    top:0;
    right: 0;
    z-index: 1;
}
.social{
    width: 100px;
    height: 200px;
    position: fixed;
    top:200px;
    right: 0;
    z-index: 2;
}
.social .facebook, .social .insta{
    width: 100%;
    height: 50%;
    /* overflow: hidden; */
    background-repeat: no-repeat;
    background-size: 100%;
}
.social .facebook img, .social .insta img{
    width: 100%;
}

.social .facebook{
    background-image: url(../img/fb.png);
   
}
.social .insta{
    background-image: url(../img/inst.png);
}
.social a{
    display: block;
    width: 100%;
    height: 100%;
}
.slider{
    width: 100%;
    height: 400px;
    overflow: hidden;
    background-color: #00930f;
}
.slider img{
    width: 100%;
    margin-top: -1500px;
}